<html>
    <head>
        <link rel="stylesheet" href="/assets/css/layout.css"/>
        <title><%= title %></title>
        <!-- <%- style %> -->
        
    </head>
    <body >
        <%- include('_header.ejs'); %>
       
        <%- body %>
        
        <%- include('_footer.ejs'); %>
        <%- script %>
    </body>
</html>